In [30]:

import sqlalchemy
#inslallation of pymysql
#!pip install pymysql

In [31]:
import pymysql

In [32]:
import pandas as pd

In [33]:
import matplotlib.pyplot as plt

In [34]:
#connection created in between sql and python 
engine = sqlalchemy.create_engine('mysql+pymysql://root:@localhost:3306/powerbi22')

In [35]:
#load customers, purchase, products table from sqlDB
customers = pd.read_sql_table("customers",engine)
purchase = pd.read_sql_table("purchase",engine)
products=pd.read_sql_table("products",engine)

In [36]:
#head values of purchase table 
purchase.head()

,PurchaseID,PurchaseQuantity,PurchasePrice,PurchaseDate,customerid,ProductID,TransactionID
0,5001,3,54.96,2023-06-26,3001,207,224
1,5002,1,477.05,2023-06-26,3002,217,650
2,5003,3,579.06,2023-06-27,3003,205,152
3,5004,1,316.81,2023-06-27,3005,215,635
4,5005,2,121.93,2023-06-27,3006,204,857

In [37]:
#null values count in purchase table
purchase.isnull().count()

PurchaseID          1000
PurchaseQuantity    1000
PurchasePrice       1000
PurchaseDate        1000
customerid          1000
ProductID           1000
TransactionID       1000
dtype: int64

In [38]:
#check shape of dataframe
purchase.shape

(1000, 7)

In [39]:
#purchase table information 
purchase.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PurchaseID        1000 non-null   int64
 1   PurchaseQuantity  1000 non-null   int64
 2   PurchasePrice     1000 non-null   float64
 3   PurchaseDate      1000 non-null   datetime64[ns]
 4   customerid        1000 non-null   int64
 5   ProductID         1000 non-null   int64
 6   TransactionID     1000 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(5)
memory usage: 54.8 KB

In [40]:
products

    productid      productname  productcategory
0         201  Air Conditioner  Home Appliances
1         202          Blender  Home Appliances
2         203           Camera      Electronics
3         204     Coffee Maker  Home Appliances
4         205  Electric Kettle  Home Appliances
5         206       Headphones      Electronics
6         207           Heater  Home Appliances
7         208           Laptop      Electronics
8         209        Microwave  Home Appliances
9         210          Printer      Electronics
10        211     Refrigerator  Home Appliances
11        212           Router      Electronics
12        213       Smart Bulb      Electronics
13        214       Smartphone      Electronics
14        215       Smartwatch      Electronics
15        216           Tablet      Electronics
16        217       Television      Electronics
17        218          Toaster  Home Appliances
18        219   Vacuum Cleaner  Home Appliances
19        220  Washing Machine  Home Appliances

In [41]:
products.shape

(20, 3)

In [42]:
purchase.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PurchaseID        1000 non-null   int64
 1   PurchaseQuantity  1000 non-null   int64
 2   PurchasePrice     1000 non-null   float64
 3   PurchaseDate      1000 non-null   datetime64[ns]
 4   customerid        1000 non-null   int64
 5   ProductID         1000 non-null   int64
 6   TransactionID     1000 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(5)
memory usage: 54.8 KB

In [43]:
#Calculate total purchases, total revenue, and average purchase value.
Total_purchase = sum(purchase["PurchasePrice"])
Total_purchase

489274.72

In [44]:
#average of total purchase value  
Average_purchase = purchase["PurchasePrice"].mean()
Average_purchase

489.27472

In [45]:
#top cutomers and purchasing behaviour
# Sorting by 'Spending' to find top customers by highest spending
top_customers = purchase.sort_values(by="PurchasePrice", ascending=False)
top_customers.head(10)

,PurchaseID,PurchaseQuantity,PurchasePrice,PurchaseDate,customerid,ProductID,TransactionID
777,5778,2,999.98,2024-03-21,3778,219,267
268,5269,5,999.44,2023-09-26,3268,214,796
281,5282,5,998.17,2023-10-04,3282,203,317
73,5074,3,997.45,2023-07-24,3074,217,138
505,5506,4,996.01,2023-12-21,3504,206,364
871,5872,3,995.97,2024-05-03,3872,214,171
461,5462,4,994.58,2023-12-05,3460,219,284
927,5928,5,993.55,2024-05-24,3927,206,456
816,5817,2,992.33,2024-04-08,3816,211,116
259,5260,4,991.08,2023-09-24,3259,217,255

In [47]:
top1_purchase = purchase.groupby('customerid')['PurchasePrice'].sum()
top1_customers = top_purchase.nlargest(10, 'PurchasePrice')
print(top1_customers)

ValueError: keep must be either "first", "last" or "all"

In [ ]:
row = purchase.loc[131]
print(row)

In [ ]:
#sum of total Quantities sold 
totalQuantity = sum(purchase["PurchaseQuantity"])
totalQuantity

In [ ]:
customers["country"].nunique()

In [ ]:
customers["customername"].duplicated()

In [ ]:
#Analyze purchase trends over time (monthly, quarterly, yearly).
# Convert 'Date' column to datetime

purchase["PurchaseDate"]=purchase["PurchaseDate"].apply(pd.to_datetime)
print(purchase.dtypes)

In [ ]:
purchase['Month'] = purchase['PurchaseDate'].dt.month
purchase['Year'] = purchase['PurchaseDate'].dt.year
purchase

In [ ]:
merged_df.groupby('country')['PurchasePrice'].sum()